@import "../lib/roboto/roboto.css";
body {
  font-family: Roboto, Arial, serif;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex.row{
  flex-direction: row;
}

.justify-content-between{
  justify-content: space-between;
}
