 .dashed-border {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuC2h4V-64J_b4Qhm-1cDZfSPQ9tTFmAAL1FmQvdqXJlHt4i1eUhCZ9KjUuuZBhYEHCefvqMNz4n399fdRRG8f1nicUYLL_SBqQKy_0wfre-kQzBdJyMaKGfuiJvABTWLcOTGKTEdzlVONCX1C_J1l860jko3qfJHTnjch3nYPyAqZHVntVxTJPGOWfqPyuclmBRawXyNdBxME4vzrKAjz3tlruTkDJhUH9x-AYmFwmMp_jF3ezY0fJz8NKtAbFxObFVzM6DdLlTOo4);
 }

 .dark .dashed-border {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDGZCy1D4bEmivjo59pkdRdmH3sMMOj3vfHcWvXeTrOMOA8-Mj_io_cmbiaWQnzD5R0s_sMTCUdIOG-M8qsM1PTuSnoKzMCFZuSDtnaCOtqw2wrT2_geEd4FQ8cCrphYw8tk3D5mZMpmsaYOyXPrUBKyV4_wjqhtMfbojK9cS-dTq2CZ_LlPujIUl1cC_w5G32xG0ResnxPjVuBgzJwYlQfAu2o80qivZHdPXJi2HxgfsFzMK4jCFtFKua8RU1q6f5fJ7ttpO-MAz4);
 }
