<div class="responsive">
    <div class="edit-col item-1">
        <div class="editor-sidebar">
            <!-- Header -->
            <div class="sidebar-header">
                <h3 nz-typography class="editor-title">PDF Editor</h3>
                <div class="undo-redo-group">
                    <button nz-button nzType="primary" nzGhost (click)="onUndoChanges()" nzSize="small">
                        <i nz-icon nzType="undo" nzTheme="outline"></i> 
                        <span class="btn-text">Undo</span>
                    </button>
                    <button nz-button nzType="primary" (click)="onRedoChanges()" nzSize="small">
                        <i nz-icon nzType="redo" nzTheme="outline"></i>
                        <span class="btn-text">Redo</span>
                    </button>
                </div>
            </div>

            <!-- Controls Section -->
            <div class="controls-section">
                <!-- Rotate Section -->
                <div class="control-group">
                    <h4 nz-typography class="group-title">
                        <i nz-icon nzType="rotate-right" nzTheme="outline"></i> Rotate Pages
                    </h4>
                    <div class="control-row flex-wrap">
                        <div class="rotate-buttons">
                            <button nz-button nzType="primary" nzGhost (click)="onRotateLeft()" title="Rotate Left">
                                <i nz-icon nzType="rotate-left" nzTheme="outline"></i>
                                <span class="btn-text">Left</span>
                            </button>
                            <button nz-button nzType="primary" (click)="onRotateRight()" title="Rotate Right">
                                <i nz-icon nzType="rotate-right" nzTheme="outline"></i>
                                <span class="btn-text">Right</span>
                            </button>
                        </div>
                        <div class="page-input-group">
                            <span class="input-label">Page:</span>
                            <nz-input-number 
                                [(ngModel)]="currentPage" 
                                [nzMin]="1"
                                [nzMax]="maxPage"
                                [nzDisabled]="!isCustomRotatePage"
                                nzSize="small">
                            </nz-input-number>
                            <label nz-checkbox [(ngModel)]="isCustomRotatePage" class="checkbox-label">
                                <span class="checkbox-text">Custom</span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Move Pages Section -->
                <div class="control-group">
                    <h4 nz-typography class="group-title">
                        <i nz-icon nzType="swap" nzTheme="outline"></i> Move Pages
                    </h4>
                    <div class="control-row">
                        <span class="input-label">From:</span>
                        <nz-input-number 
                            [(ngModel)]="startPage" 
                            [nzMin]="1"
                            [nzMax]="maxPage"
                            nzSize="small">
                        </nz-input-number>
                        <span class="input-label">To:</span>
                        <nz-input-number
                            [(ngModel)]="endPage" 
                            [nzMin]="1" 
                            [nzMax]="maxPage"
                            nzSize="small">
                        </nz-input-number>
                        <button nz-button nzType="primary" (click)="onMovePages()" nzSize="small">
                            <i nz-icon nzType="swap" nzTheme="outline"></i>
                            <span class="btn-text">Move</span>
                        </button>
                    </div>
                </div>

                <!-- Delete Pages Section -->
                <div class="control-group">
                    <h4 nz-typography class="group-title">
                        <i nz-icon nzType="delete" nzTheme="outline"></i> Delete Pages
                    </h4>
                    <div class="control-row flex-wrap">
                        <div class="delete-inputs">
                            <span class="input-label">From:</span>
                            <nz-input-number 
                                [(ngModel)]="removeStartPage" 
                                [nzMin]="1"
                                [nzMax]="maxPage"
                                nzSize="small">
                            </nz-input-number>
                            <span *ngIf="!isDeleteOnePage" class="to-label">To:</span>
                            <nz-input-number
                                *ngIf="!isDeleteOnePage"
                                [(ngModel)]="removeEndPage" 
                                [nzMin]="1" 
                                [nzMax]="maxPage"
                                nzSize="small">
                            </nz-input-number>
                        </div>
                        <div class="delete-actions">
                            <label nz-checkbox [(ngModel)]="isDeleteOnePage" class="checkbox-label">
                                <span class="checkbox-text">Single page</span>
                            </label>
                            <button nz-button nzType="primary" nzDanger (click)="onRemovePage(removeStartPage,removeEndPage)" nzSize="small">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                                <span class="btn-text">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Watermark Section -->
                <div class="control-group">
                    <h4 nz-typography class="group-title">
                        <i nz-icon nzType="copyright" nzTheme="outline"></i> Add Watermark
                    </h4>
                    <div class="watermark-controls">
                        <nz-input-group [nzSuffix]="inputClearTpl" class="watermark-input">
                            <input 
                                type="text" 
                                nz-input 
                                [(ngModel)]="watermarkText" 
                                placeholder="Enter watermark text"/>
                        </nz-input-group>
                        <ng-template #inputClearTpl>
                            <i 
                                nz-icon 
                                class="ant-input-clear-icon" 
                                nzTheme="fill" 
                                nzType="close-circle"
                                *ngIf="watermarkText"
                                (click)="watermarkText = ''">
                            </i>
                        </ng-template>
                        
                        <div class="watermark-options">
                            <div class="color-picker-group">
                                <span class="input-label">Color:</span>
                                <input type="color" [(ngModel)]="colorCode" class="color-input">
                            </div>
                            <div class="style-select-group">
                                <span class="input-label">Style:</span>
                                <nz-select [(ngModel)]="predefinedStyleSelectionIndex" nzSize="small" class="style-select">
                                    <nz-option [nzValue]="0" nzLabel="Diagonal"></nz-option>
                                    <nz-option [nzValue]="1" nzLabel="Reverse Diagonal"></nz-option>
                                    <nz-option [nzValue]="2" nzLabel="Horizontal"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        
                        <button 
                            nz-button 
                            nzType="primary" 
                            (click)="onAddWatermark(watermarkText,colorCode,predefinedStyleSelectionIndex)"
                            class="watermark-btn"
                            [disabled]="!watermarkText">
                            <i nz-icon nzType="plus" nzTheme="outline"></i>
                            Add Watermark
                        </button>
                    </div>
                </div>

                <!-- Merge PDF Section -->
                <div class="control-group">
                    <h4 nz-typography class="group-title">
                        <i nz-icon nzType="merge-cells" nzTheme="outline"></i> Merge PDFs
                    </h4>
                    <div class="merge-controls">
                        <nz-upload 
                            nzType="drag" 
                            [(nzFileList)]="mergeFileList" 
                            nzAccept="application/pdf" 
                            [nzBeforeUpload]="onBeforeUploadMerge"
                            [nzMultiple]="true"
                            [nzShowUploadList]="false"
                            class="merge-upload">
                            <p class="ant-upload-drag-icon">
                                <i nz-icon nzType="file-add" nzTheme="outline"></i>
                            </p>
                            <p class="ant-upload-text">Add PDFs to merge</p>
                            <p class="ant-upload-hint">Drag or click to add</p>
                        </nz-upload>
                        
                        <div *ngIf="mergeFiles.length > 0" class="merge-file-list">
                            <div *ngFor="let file of mergeFiles; let i = index" class="merge-file-item">
                                <span class="file-name">{{ i + 1 }}. {{ file.name }}</span>
                                <button nz-button nzType="text" nzDanger (click)="removeMergeFile(i)" nzSize="small">
                                    <i nz-icon nzType="close" nzTheme="outline"></i>
                                </button>
                            </div>
                            <button nz-button nzType="primary" (click)="onMergePDFs()" class="merge-btn">
                                <i nz-icon nzType="merge-cells" nzTheme="outline"></i>
                                Merge {{ mergeFiles.length }} PDF(s)
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Save Button -->
            <div class="sidebar-footer">
                <button nz-button nzType="primary" nzSize="large" (click)="onSavePDF()" class="save-btn">
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                    Download PDF
                </button>
            </div>
        </div>
    </div>

    <!-- PDF Viewer -->
    <div class="item-2">
        <div *ngIf="!loading" class="pdf-viewer-container">
            <ngx-extended-pdf-viewer 
                [src]="src" 
                height="100vh" 
                [useBrowserLocale]="true" 
                [showBookmarkButton]="false"
                [showDownloadButton]="false" 
                [showPrintButton]="false"
                [showPropertiesButton]="false"
                [showOpenFileButton]="false" 
                [showHandToolButton]="false"
                [showRotateButton]="false"
                [textLayer]="true"
                [showHandToolButton]="true"
                (pagesLoaded)="onPageLoaded($event)"
                (pageChange)="onCurrentPageChanged($event)">
            </ngx-extended-pdf-viewer>
        </div>
        <div *ngIf="loading" class="loading-container">
            <nz-spin nzTip="Processing PDF..."></nz-spin>
        </div>
    </div>
</div>
